.navbar-nav {
  margin-left: auto;
}
.navbar-brand{
    width: 25%;
}
.navbar-custom {
  background-color: #e8be6f;
}
.d-flex {
  width: 60%;
}
.nav-item {
  margin-left: 5px;
}
#login {
  border: 1px solid black;
  padding: 0px 5px;
}

#signup {
  background-color: black;
  padding: 0px 5px;
}

#signup_text {
  color: whitesmoke;
}
